.kop{
    background-color:#777777;
    color:white;
    font-size:larger;
}

.list{
    background-color:black;
    color:white
}

.sublist{
    background-color:gray;
    display:block;
}

.orderlist{
    text-align:left;
    vertical-align:top;
    border-collapse:collapse
}

.deflist{
    background-color:#eeeeee;
}

.regeltekst_list{
    background-color:#999999;
    border-collapse:collapse;
}

.regeltekst{
    background-color:#cccccc;
}

.art_cell{
    border-bottom:1px solid #cccccc;
    word-wrap:normal;
}

table{
    border-collapse:collapse;
    border:1px solid black;
    width:1000px;
}
